<h1>Need Music?</h1>
<p class="lead">Use the ngSpotify app to browse new music</p>
<form action="">
  <div class="form-group">
    <input class="form-control" placeholder="Search Music...." (keyup)="searchMusic()" type="text" name="searchStr" [(ngModel)]="searchStr">
  </div>
</form>

<div *ngIf="searchRes">
  <div *ngFor="let res of searchRes">
    <div class="row">
      <div class="col-md-12">
        <div class="search-res well">
          <h4>{{res.name}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>